
.storage
.cloud
.HA_VERSION
.pip_progress
secrets.yaml
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db-wal
home-assistant_v2.db-shm
custom_components/**
appdaemon/apps/controllerx/
appdaemon/apps/__pycache__
appdaemon/log/
*google_translate.mp3
www/community/**
netdaemon/apps/**